### macOS
*.DS_Store

### IDE
.idea/
.vscode/

### Python
__pycache__/
*.py[cod]
*$py.class
env/

### Project specifics
bin/
.env
.env.sample
layer/
src/
requirements.txt
src.zip
layer.zip
